.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webcam-container {
  position: relative;
  width: 640px; /* Largura da câmera */
  height: 480px; /* Altura da câmera */
}

.webcam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
