.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.webcam {
  max-width: 100%; /* Para garantir que a webcam não ultrapasse a largura do contêiner */
}

.canvas {
  position: absolute;
}

.titulo{
  font-size: 3rem;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  border-radius: 50px;
  border: 0.15rem solid rgb(0, 73, 0);
  background: rgb(51, 151, 0);
  width: 15rem;
}

.popup p {
  color: white;
  font-weight: bolder;
  margin: 0;
  font-size: 18px;
  justify-content: center;
}

.hora {
  justify-self: center;
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

.popup p + p {
  margin-top: 0.5rem;
}