.progress-loader-container {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.progress-loader {
    width: 25rem;
    background: rgba(236, 236, 238, 0.253);
    height: 2rem;
    border-radius: 20px;
    border: 0.1rem solid #102d4551;
    display: flex;
    margin-right: 1rem; /* Espaço entre a barra de progresso e o nível */
}

.level {
    font-weight: bold;
    font-size: 1.3rem;
}

.progress {
    width: var(--progress-width, 0);
    height: 2rem;
    border-radius: 20px;
    background: #102D45;
    transition: 10 0.5s;
    /* Adiciona uma transição suave para a mudança de largura */
}

li {
    list-style: none;
    margin: 1rem;
    font-size: 1.25rem;
    color: black;
    background: #2c75f20d;
    border-radius: 20px;
}

ul {
    padding: 0;
    margin: 0;
}